{% extends 'base.html.twig' %}

{% block title %}ANALYSES | CERCLE DUCLOS{% endblock %}

{% block body %}
<div class="container">
    <div class="section-title">
        <h2>ANALYSES</h2>
    </div>
    <p>Contenu des analyses à venir...</p>
</div>
{% endblock %}
