{% extends 'base.html.twig' %}

{% block title %}THÉORIE | CERCLE DUCLOS{% endblock %}

{% block body %}
<div class="container">
    <div class="section-title">
        <h2>THÉORIE</h2>
    </div>
    <p>Contenu théorique à venir...</p>
</div>
{% endblock %}
